*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: auto;
}
#nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-top: 2px;
}

#navl img{
    width:70px;
    height:70px;
    margin-left: 50%;

}
#navr{
    margin-left: 60%;
    margin-right: 2%;
}
#navr a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
