*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
#main{
    width: 100%;
    height: auto;
    background-color: #E5F0A5;
}
#nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-top: 2px;
    background-color: #E5F0A5;
}

#navl img{
    width:70px;
    height:70px;
    margin-left: 50%;

}
#navr{
    margin-left: 60%;
    margin-right: 2%;
}
#navr a{
    padding: 10px;
    text-decoration: none;
    color: #F7960F;
}
#navr a:hover{
    text-decoration: underline;
    color: black;
   
}

#navr .fa-solid{
    color: black;
    margin-left: 30px;
}
#banner img{
  
    width: 50%;
    border: 10px solid #F7960F; 
    padding: 10px 100px;
    object-fit: cover;
}
#banner{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 5px;
    width: 100%;
    background-color: #F7960F;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .text{
    color: #E5F0A5;
    margin-right: 10%;
    font-weight:bolder;
    font-size: 60px;
    font-style:italic;
}
#product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-bottom: 20px;
}
.card-body{
    background-color: #F7960F;
}
.anima{
    margin-top: 2px;
    border-bottom: 2px solid black;
}
.anima marquee{
    align-items: center;
    color: #F7960F;
    margin-top: 2px;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    
}
